<h1>Autores</h1>
<table id="authorsTable" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Nombre</th>
      <th># Libros</th>
      <th>Puntaje promedio</th>
      <th>Ventas totales</th>
    </tr>
    <tr>
      <th><input type="text" placeholder="Filtrar nombre" style="width:100%"></th>
      <th><input type="number" placeholder="Filtrar #" style="width:100%"></th>
      <th><input type="number" placeholder="Filtrar puntaje" style="width:100%"></th>
      <th><input type="number" placeholder="Filtrar ventas" style="width:100%"></th>
    </tr>
  </thead>
  <tbody>
    <% authors.forEach(a => { %>
      <tr>
        <td><%= a.name %></td>
        <td><%= a.numberOfBooks || 0 %></td>
        <td><%= a.averageScore ? a.averageScore.toFixed(2) : '-' %></td>
        <td><%= a.totalSales ? a.totalSales.toLocaleString() : '0' %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
  var table = $('#authorsTable').DataTable({
    orderCellsTop: true,
    fixedHeader: true
  });
  $('#authorsTable thead tr:eq(1) th').each(function(i) {
    $('input', this).on('keyup change', function() {
      if (table.column(i).search() !== this.value) {
        table.column(i).search(this.value).draw();
      }
    });
  });
});
</script>
