<h1>Nuevo Libro</h1>

<form action="/api/books" method="POST" enctype="multipart/form-data">
  <label>Nombre:</label>
  <input name="name" required><br>

  <label>Resumen:</label>
  <textarea name="summary"></textarea><br>

  <label>Fecha de publicación:</label>
  <input type="date" name="dateOfPublication"><br>

  <label>Autor:</label>
  <select name="author" required>
    <option value="">-- Selecciona un autor --</option>
    <% authors.forEach(author => { %>
      <option value="<%= author._id %>"><%= author.name %></option>
    <% }) %>
  </select><br>

  <fieldset style="margin-top:1rem;">
    <legend>Portada del libro</legend>
    <input type="file" name="cover" accept="image/*">
  </fieldset>

  <button type="submit" style="margin-top:1rem;">Guardar</button>
</form>
