<h1>Nueva Venta</h1>
<form action="/api/sales" method="POST">
  <label>Libro:</label>
  <select name="book" required>
    <option value="">-- Selecciona un libro --</option>
    <% books.forEach(book => { %>
      <option value="<%= book._id %>"><%= book.name %></option>
    <% }) %>
  </select><br>

  <label>Año:</label>
  <input type="number" name="year"><br>

  <label>Ventas:</label>
  <input type="number" name="sales"><br>

  <button type="submit">Guardar</button>
</form>
